

#home {
  width: 10%;
}

#navbar {
  overflow: hidden;
  width: 100%;
  display: flex;
  background-color: #333;
  justify-content: space-around ;
  flex-wrap: wrap;
}

/* Navbar links */
#navbar a {
  /* float: left;
  /* display: block; */
  color: #f2f2f2; 
  text-align: center;
  padding: 14px; 
  text-decoration: none;
  /* border-right: 1px solid black; */
}

#navbar h3 {
  color: #f2f2f2; 
}

.display {
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
  grid-gap: 20px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  margin-bottom: 20px; 
  box-shadow: 2px 2px 20px grey
}

.display a {
  text-decoration: none;
  color: #333;
}

#about {
  text-align: center;
  margin: 0 5% 0 5%;
}

.food-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(75, 75, 75);
  margin: 20px 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 20px grey
}

.food-info {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-control  {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
  grid-gap: 20px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.admin-category {
  width: 400px;
  height: 200px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  margin-bottom: 20px; 
  box-shadow: 2px 2px 20px grey
}


.category-header {
  background-color: #333;
  border-top-right-radius: 7px 8px;
  border-top-left-radius: 7px 8px;
  text-align: center;
  color: #f2f2f2;
  font-weight: 600;
  font-size: large;
}

.plus-icon {
  height: 24px;
}

.logout-btn {
  width: 50px;
  height: 50px;
  margin-top: 6px;
  background-color: #333;
  text-decoration: none;
  border: none;
}

.new-cat-btn {
  width: 81%;
  height: 45px;
  margin-top: 10px;
  background-color: rgb(45, 185, 45);
  border: 1px solid;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
  color: #333;
}

/* .new-cat-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.new-cat-btn:active {
  transform: scale(0.99 ,0.99);
}

.edit-cat-btn {
  width: 30px;
  height: 30px;
  /* margin-top: 5px; */
  margin-left: 40%;
  text-decoration: none;
  border: none;
  background-color: #333;
  /* color: #f2f2f2; */
}

.category-foods {
  display: flex;
  flex-direction: column;
}

.category-food {
  text-decoration: none;
  border: none;
  border-bottom: .1px #333 solid;
  background-color: white;
  font-weight: 500;
  font-size: large;
}

.new-cat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-cat-modal {
  position: absolute;
  border: 1px solid;
  height: 70%;
  width: 30%;
  position: absolute;
  background-color: white;
  border-radius: 10px
}

.new-cat-header {
  height: 40px;
  background-color: #333;
  border-top-right-radius: 7px 8px;
  border-top-left-radius: 7px 8px;
  text-align: center;
  color: #f2f2f2;
  font-weight: 600;
  font-size: large;
}

.new-cat-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 36% 40px;
}

.new-cat-form label {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: larger;
  text-align: center;
} 

.new-cat-form input {
  margin-bottom: 40px;
}

.create-btn {
  width: 100%;
  height: 30px;
  background-color: rgb(45, 185, 45);
  border: 1px solid;
  border-radius: 10px;
  font-weight: 700;
  /* font-size: large; */
  color: #333;
}